FLASK_ENV=development
SECRET_KEY=change_this_in_prod
JWT_SECRET_KEY=change_this_jwt_key
MONGO_URI=mongodb://mongo:27017/aralar
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
RATE_LIMIT_DEFAULT=100/hour
SECURE_COOKIES=false
SEED_ADMIN_EMAIL=admin@aralar.local
SEED_ADMIN_PASSWORD=ChangeMeNow!2025
SEED_ADMIN_FULLNAME="Admin Aralar"